
*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3vh;
}

body{
	background: #000;
	margin: 0;
	padding: 4px;
}

table{
	height: 100%;
	width: 100%;
	border-radius: 8px;
	background: #FFF;
}

tr{
	background: transparent;
	padding: 0;
	margin: 0;
}

td{
	background: transparent;
	align: center;
	padding: 0;
	margin: 0;
}

input{
	maxlength: 3;
	width: 100%;
	height: 100%;
	text-align: center;
	border: solid 2px #0009;
	border-radius: 8px;
	padding: 0;
	margin: 0;
}

.input{
	width: 30%;
	padding: 0;
}

.coinImage{
	background-attachment: local;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	width:40%;
}

.currency{
	text-align: right;
	width: 5%;
}

.preResult{
	width: 25%;
	text-align: right;
}

.result{
	font-size:  calc(4vh + .4vw);
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.resultTable{
	background: #CCC9;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.titleTable{
	border-radius: 8px;
	background: #000;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.titleMenu{
	width: 7.5%;
	min-width: 7.5%;
	max-width: 7.5%;
	font-size: calc(5vh + .5vw);
}

.titleMenu:hover{
	cursor: pointer;
}

#hsLogo{
	background-attachment: local;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
}

.titleText{
	width: 85%;
	font-size: calc(4vh + .4vw);
	text-shadow: 0 0 0.25em #F00, 0 0 0.5em #00F;
}

/* Modal (background) */
.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 32px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #000; /* Fallback color */
	background-color: #0009; /* Black w/ opacity */
	-webkit-animation-name: animateFadeIn;
	-webkit-animation-duration: 0.25s;
	animation-name: animateFadeIn;
	animation-duration: 0.25s;
}

/* Modal Content */
.modalMenu-content{
	background-color: #FFF;
	margin: auto;
	width: 80%;
	height: auto;
	max-height: 80%;
	border: solid #000 2px;
	border-radius: 8px;
	box-shadow: 0 0 16px #000;
	text-align: center;
	font-size: calc(4vh + .4vw);
	overflow: auto;
	-webkit-animation-name: animateFromTop;
	-webkit-animation-duration: 0.5s;
	animation-name: animateFromTop;
	animation-duration: 0.5s;
	position: relative;
}

/* Animation From Top */
@-webkit-keyframes animateFromTop{
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
@keyframes animateFromTop{
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* Animation To Top */
@-webkit-keyframes animateToTop{
	from {top:0; opacity:1}
	to {top:-300px; opacity:0} 
}
@keyframes animateToTop{
	from {top:0; opacity:1}
	to {top:-300px; opacity:0} 
}

/* Animation Fade In */
@-webkit-keyframes animateFadeIn{
	from {opacity:0}
	to {opacity:1} 
}
@keyframes animateFadeIn{
	from {opacity:0}
	to {opacity:1} 
}

/* Animation Fade In */
@-webkit-keyframes animateFaedOut{
	from {opacity:1}
	to {opacity:0} 
}
@keyframes animateFaedOut{
	from {opacity:1}
	to {opacity:0} 
}

.modalMenu-header{
	padding: 8px;
	background-color: #CCC;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: left;
}

.modalMenu-body{
	padding: 8px;
}

/* The Close Button */
.closeModal{
	color: #999;
	float: right;
	position: relative;
	font-size: calc(4vh + .4vw);
	font-weight: 900;
	display: block;
}

.closeModal:hover,
.closeModal:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.menuTitleText{
	margin: 0;
	padding: 2% 0 0 0;
}
